{%extends 'base.html'%}

{%block styles%}
    <style>
        .post{
            margin-bottom: 40px;
        }
    </style>
{%endblock%}


{%block main%}
    <div class="row" style="margin-top: 40px;">
        <h2>
            Заказ проектного решения: Обратитесь к нам!
        </h2>
    </div>
    <div class="row" style="margin-top: 40px; padding-bottom:60px">
        
        <div class="col-7">
            Уважаемые посетители,
            <br><br>
            После ознакомления с информацией на нашем сайте, если у вас возникли вопросы или вы заинтересованы в заказе проектного решения, мы приглашаем вас связаться с нами. Ваш запрос является для нас важным, и мы готовы предоставить вам подробную консультацию.
            <br><br>
            Для размещения заказа или уточнения дополнительной информации, пожалуйста, свяжитесь с нами по следующим контактам:
            <br><br>
            Телефон: <a href='tel:89232783393'>+7 (923) 278-33-93</a><br>
            Электронная почта: <a href='mailto:n.tes.free@gmail.com'>n.tes.free@gmail.com</a>
            <br><br>
            Мы с нетерпением ожидаем вашего обращения и готовы начать работу над вашим проектом.
            <br><br>
            С уважением,<br>
            Команда ASK
        </div>
        <div class="col-5">
            <img  class='border' style="width: 100%; object-fit:contain" src="files/us.jpg">
        </div>
    </div>
    
{%endblock%}

{%block scripts%}
    
{%endblock%}